.centerDiv{
    text-align: center;
}

.flexBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.menu{
    border: 1px solid black;
    border-bottom: 0px;
    width: 1000px;
    height: 160px;
    background-color: aliceblue;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 5px black;
    margin-top: 25px;
}

.textArea{
    border: 1px solid black;
    height: 300px;
    width: 1000px;
    background-color: white;
    box-shadow: 2px 5px black;
    margin-bottom: 25px;
}

.textArea:focus{
    outline: none;
}

.btns{
    width: auto;
    height: 30px;
    margin: 5px;
    background-color: #0b9d94;
    border-radius: 0px;
    box-shadow: 2px 5px black;
    border: 1px solid #003431;
    color:white;
}

.output{
    margin-top:10px;
    border: 1px solid black;
    width: 1000px;
    height: 300px;
    box-shadow: 2px 5px black;
    margin-bottom: 25px;
}

.innerMenu{
    padding-left: 15px;
}